<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="main-layout.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div layout:fragment="content">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>MODEL</th>
                    <th>ENGINE</th>
                    <th>PRICE</th>
                    <th>COUNTRY</th>
                    <th>DETAILS</th>
                </tr>
            </thead>

            <tbody>
                <tr th:each="m: ${mashini}">
                    <td th:text="${m.id}"></td>
                    <td th:text="${m.model}"></td>
                    <td th:text="${m.engine}"></td>
                    <td th:style="${m.cost>=100000}? 'color:red' : 'color:green'" th:text="${m.cost}"></td>
                    <td th:text="${m.country}"></td>
                    <td style="width: 8%"> <a class="btn btn-secondary btn-sm" th:href="@{'/car-details/' + ${m.id}}">DETAILS</a> </td>
                </tr>
            </tbody>

        </table>
    </div>

</body>
</html>